header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgb(22, 21, 21);
    padding: 20px 50px;
  }
  
  nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    justify-items: end;
    align-items: center;
    border-radius: 3px;
  }

  
  
  .logo {
    color: #e5fae4;
  }
  
  .nav_item{
    color: #5967e9;
    background-color: #e5fae4;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    border: 1px solid #9f9f9f;
    border-radius: 12px;
  }

  .nav_item:hover{
    color: rgb(52, 83, 52);
  }

  